[run]
source = app
concurrency = thread,greenlet
omit =
    app/__init__.py
    tests/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    \.\.\.
    @abstractmethod
show_missing = true
